# Betriebssystem-Spezifisches
.DS_Store
Thumbs.db

# Python-bezogene Dateien
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtuelle Umgebungen und Umgebungsvariablen
venv/
.env

# Build- und Distributionsdateien
build/
dist/
*.egg-info/

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# IDE-bezogene Dateien
.idea/
.vscode/
.settings/
*.swp

# Daten
datasets/raw/
datasets/*_cleaned.csv

# Logs und temporäre Dateien
logs/
*.tmp

# Executables
*.swf
*.air
*.ipa
*.apk

# Hinweis: Projektdateien wie `.project`, `.actionScriptProperties`, `.flexProperties`
# sollten NICHT ausgeschlossen werden, da sie wichtige Compiler-Einstellungen
# und andere relevante Informationen enthalten.
